node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#folders
abi/
artifacts/
cache/
deployments/
front/
front-ant/
front_b/
tail/
token/

abi
artifacts
cache
deployments
front
front-ant
front_b
tail
token